@model Soniclogistics_updated.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvoiceId" />
            <div class="form-group">
                <label asp-for="OperatingUnit" class="control-label"></label>
                <input asp-for="OperatingUnit" class="form-control" />
                <span asp-validation-for="OperatingUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceCurrency" class="control-label"></label>
                <input asp-for="InvoiceCurrency" class="form-control" />
                <span asp-validation-for="InvoiceCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupId" class="control-label"></label>
                <input asp-for="SupId" class="form-control" />
                <span asp-validation-for="SupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdId" class="control-label"></label>
                <input asp-for="ProdId" class="form-control" />
                <span asp-validation-for="ProdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RfqId" class="control-label"></label>
                <input asp-for="RfqId" class="form-control" />
                <span asp-validation-for="RfqId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrnId" class="control-label"></label>
                <select asp-for="GrnId" class="form-control" asp-items="ViewBag.GrnId"></select>
                <span asp-validation-for="GrnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
